# https://www.home-assistant.io/docs/configuration/
# https://www.home-assistant.io/integrations/default_config/
# https://github.com/arsaboo/homeassistant-config/blob/master/configuration.yaml

homeassistant:
  time_zone: {{ system_timezone }}

http:
  use_x_forwarded_for: true
  trusted_proxies:
{% for proxy in homeassistant_trusted_proxies %}
    # {{ proxy.desc }}
    - "{{ proxy.address }}" 
{% endfor %}

automation: !include automations.yaml

network:

homekit:
  - name: "HomeKit Bridge"
    advertise_ip: "{{ homeassistant_homekit_host_ip }}"
    port: "{{ homeassistant_homekit_port }}"
    filter:
      include_entities:
{% for device in homeassistant_homekit_devices %}
        - "{{ device }}"
{% endfor %}

logger:
  default: warning
  logs:
    homeassistant.components.homekit: debug
    pyhap: debug
