FROM {{ homeassistant_base_image }}:{{ homeassistant_base_image_tag }}

RUN set -ex \
&& apk --no-cache --no-progress add avahi avahi-tools \

# Disable default Avahi services

&& rm -rf /etc/avahi/services/_ /var/cache/apk/_

COPY docker-entrypoint.sh /usr/local/sbin/
ENTRYPOINT ["/usr/local/sbin/docker-entrypoint.sh"]
